accelerate==1.4.0
#albumentations==1.4.0
#bs4
#datasets==3.6.0
#decord==0.6.0
#deepspeed==0.16.4
fastapi==0.128.0
#jieba
#Levenshtein==0.27.1
#matplotlib
#opencv-python
pymupdf==1.26
qwen-vl-utils==0.0.14
requests==2.32.5
torch==2.6.0
#torchcodec==0.2
torchvision==0.21.0
transformers==4.51.0
#triton==3.2.0
uvicorn==0.40.0
